* {
    box-sizing: border-box;
}
body {
    background-color: #fff2c5;
    font-family: 'Niramit', sans-serif;
    font-size: 20px;
    height: 100%;
    margin: 0;
}
.container {
    width: 100%;
    padding: 3%;
    margin-bottom: 20px;
}



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */



/* Home-Page */
#text {
    text-align: center;
}
article.highlight {       /*Blue-colored titles*/
    font-family: 'Neuton', serif;
    font-size: 2em;
    color: #2400ff;
}

#secondParagraph {
    margin-bottom: 20%;
}
#last-Paragraph {
    margin-bottom: 10%;
}

/*Start Button*/
div#button {
    background-color: #d9d9d9;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    position: absolute;
    bottom: 12%;
    left: 15px;
}
#start {
    font-size: 2em;
}
#start:link {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
#start:hover {
    text-decoration: underline;
}
/*End-of-Start Button*/

#footer {
    background-color:#FFE58A;
    font-family: 'Orbitron', sans-serif;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* Calculator-Page */
header {
    background-color:#FFE58A;
    font-family: 'Neuton', serif;
    font-size: 2em;
    font-weight: bold;
    width: 100%;
    height: 75px;
    text-align: center;
    padding: 10px;
}
.results {
    margin-left: 3%;
}

#below-image-tip {
    margin-top: 5px;
    color: #6a6a6a;
}
article.results {
    margin-bottom: 20px;
}
section > input {
    position: absolute;
    left: 30%;
    width: 40%;
    height: 30px;
}
